<%- include('includes/head.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        div{
          margin: auto;  
          width: 30rem;
          margin-top: 10rem;
        }
        h1{
            color: #df1774;
        }
    </style>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <!-- <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header-item-list">
                <li class="main-header-items"><a  href="/">shop</a></li>
                <li class="main-header-items"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header-items"><a href="/contactus">Contact  Us</a></li>
            </ul>   
        </nav>
    </header> -->
    <main>
        <div>
            <h1>Form successfuly filled</h1>
        </div>
    </main>
    <%- include('includes/end.ejs') %>   
</body>
</html>